app/static/upload/
secrets/
build/
__pychache__/
migrate.py
setup.py
logit_db_20240123.tar
logit_db_20240910.tar
logit_db_2025*.tar
docs/source/__pycache__/
app/routes/__pycache__/slow_control.cpython-311.pyc
app/routes/__pycache__/main.cpython-311.pyc
app/routes/__pycache__/calibration.cpython-311.pyc
app/routes/__pycache__/data_acquisition.cpython-311.pyc
app/routes/__pycache__/*
app/routes/slow_control.pyc
app/routes/main.pyc
app/routes/slow_control_old.py
app/templates/__pycache__/*
app/templates/slow_control_plot_old.html
app/routes/__pycache__/slow_control.cpython-311.pyc
app/routes/__pycache__/slow_control.cpython-311.pyc
