

<thead class="table-dark">
    <tr>
        <th></th>
        <th>Entry</th>
        <th>Keywords</th>
        <th>Image</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <form action="/add-entry" method="post" enctype="multipart/form-data">
            <td>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Add</button>
            </td>

            <td>
                <div class="mb-1">
                    <textarea class="form-control" name="text-editor" id="text" rows="3" required></textarea>

                </div>
            </td>
            <td>
                <div class="form-group">
                    <select class="form-select" id="keywordSelect" name="keywordSelect[]">
                        <option value="None" selected>None</option>
                    </select>
                </div>
            </td>
            <td colspan="2">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
            </td>
        </form>
    </tr>
</tbody>

<!-- <script src="{{ url_for('static', filename='js/change_text.js') }}"></script> -->

<script>
    CKEDITOR.replace('text-editor');
</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        console.log("doing get keywords");
        fetch("/get-keywords")
            .then(response => response.json())
            .then(data => {
                let keywordDropdown = document.getElementById('keywordSelect');
                keywordDropdown.innerHTML = ''; // Clear existing options
                keywordDropdown.add(new Option('None', 'None', false, true)); // Add the default None option
                data.keywords.forEach(value => {
                    keywordDropdown.add(new Option(value, value));
                });
            });
    });
</script>