<thead class="thead-dark">
    <tr>
        <th></th>
        <th>Entry</th>
        <th>Keywords</th>
        <th>Image</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <!-- Start of Add Logbook Entry Form Row -->
    <tr>
        <form action="/add-entry" method="post" enctype="multipart/form-data">
        <td>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Add </button>
        </td>

        <!-- Text Entry Cell -->
        <td>
            <!-- Entry Text Column -->
            <div class="form-group mb-1">
                <textarea class="form-control" name="text" id="text" rows="3" required></textarea>
            </div>
        </td>
        <td>
            <!-- Keyword Selection Column -->
            <div class="form-group">
                <select class="form-control" id="keywordSelect" name="keywordSelect">
                    <option value="None" selected>None</option>
                </select>
            </div>
        </td>
        <td colspan="2">
            <div class="form-group">
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
        </td>
        </form>
    </tr>
</tbody>


<script>
    $(document).ready(function () {
        $.getJSON("/get-keywords", function (data) {
            var keywordDropdown = $("#keywordSelect");
            keywordDropdown.empty();  // Clear existing options
            keywordDropdown.append($('<option>', { value: "None", text: "None", selected: true }));  // Add the default None option
            $.each(data.keywords, function (key, value) {
                keywordDropdown.append($('<option>', { value: value, text: value }));
            });
        });
    });
</script>