{% extends "base.html" %}

{% block content %}
<div class="container mt-5">

    <h1 class="mb-5">Keyword Management</h1>

    <!-- Add keyword -->
    <h3>Add keyword</h3>

    <form method="post" onsubmit="event.preventDefault(); addKeyword();" class="mb-4 mt-2">
        <div class="row align-items-center">
            <div class="col-auto">
                <input type="text" id="new-keyword" name="keyword" class="form-control"
                    placeholder="Enter new keyword" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

    <h3>Remove keyword</h3>
    <div class="row">
        <div class="col-auto">
            <select class="form-select" id="keyword-select">
                {% for keyword in keywords %}
                <option>{{ keyword }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button onclick="removeKeyword()" class="btn btn-primary">Remove</button>
        </div>
    </div>

    <script>
        function addKeyword() {
            const keyword = document.getElementById("new-keyword").value;
            fetch("/add-keyword", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: "keyword=" + keyword
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    location.reload();
                });
        }

        function removeKeyword() {
            const keyword = document.getElementById("keyword-select").value;
            fetch("/remove-keyword", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: "keyword=" + keyword
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    location.reload();
                });
        }
    </script>

</div>
{% endblock %}