
{% extends "base.html" %}

{% block content %}


<!-- Add FullCalendar's JavaScript library -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<!-- Add FullCalendar's CSS files -->


<!-- show the calendar -->
<div id='calendar'></div>

<!-- Initialize FullCalendar -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // Add calendar settings
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            events: "{{ url_for('main.get_calendar_events') }}",
            
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            // Add event content
            eventContent: function (arg) {
                var title = arg.event.title;
                var description = arg.event.extendedProps.description;
                var contentElements = document.createElement('div');
                var titleElement = document.createElement('div');
                titleElement.innerText = title;
                contentElements.appendChild(titleElement);
                if (description) {
                    var descriptionElement = document.createElement('div');
                    descriptionElement.innerText = description;
                    contentElements.appendChild(descriptionElement);
                }
                return { domNodes: [contentElements] };
            }, 

            // Add event click
            eventClick: function (info) {
                var selectedDate = info.event.startStr; // Gets the clicked date in 'YYYY-MM-DD' format
                window.location.href = `/entries?start_date=${selectedDate}&end_date=${selectedDate}`;
            }
        });
        calendar.render();
    });
</script>

{% endblock %}