{% extends "base.html" %}

{% block content %}

<div class="container mt-2"  style="max-width: 75%;">

<h1 class="mb-4">Logbook Entries</h1>
    {% include 'search_table.html' %}
<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<table class="table table-striped table-responsive-md mt-1">

    {% include 'add_entry.html' %}

        <!-- End of Add Logbook Entry Form Row -->
    <thead class="thead-dark">
        <tr>
            <th style="width:10%;">Timestamp</th>
            <th style="width:60%;">Entry</th>
            <th style="width:10%;">Keywords</th>
            <th style="width:10%;">Image</th>
            <th style="width:10%;">User</th>
        </tr>
    </thead>
        <!-- Existing log entries -->
        {% for entry in entries %}
        <tr>
            <!-- Populate existing log entries here, as in your original code -->
            <td>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ entry.text }}</td>
            <td>
                <ul class="list-unstyled">
                    {% for keyword in entry.keywords %}
                    <li>{{ keyword }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if entry.image %}
                <!-- <a href="{{ url_for('static', filename='upload/' + entry.image) }}" data-fancybox="image-set">
                    <img src="{{ url_for('static', filename='upload/' + entry.image) }}" alt="Uploaded Image"
                        class="img-thumbnail" width="100">
                </a> -->
                    {% if entry.image.endswith('.pdf') %}
                    <a href="{{ url_for('static', filename='upload/' + entry.image) }}" target="_blank">
                        <!-- Display PDF icon or thumbnail -->
                        <img src="{{ url_for('static', filename='icons/pdf_icon.png') }}" alt="PDF Document" class="img-thumbnail"
                            width="50">
                    </a>
                    {% else %}
                    <a href="{{ url_for('static', filename='upload/' + entry.image) }}" data-fancybox="image-set">
                        <!-- Display image thumbnail -->
                        <img src="{{ url_for('static', filename='upload/' + entry.image) }}" alt="Uploaded Image" class="img-thumbnail"
                            width="100">
                    </a>
                    {% endif %}
                {% else %}
                No Image
                {% endif %}
            </td>
            <td>{{ entry.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% include 'pagination.html' %}

<!-- Include Fancybox Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<!-- Initialize Fancybox -->
<script>
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            buttons: [
                "download",
                "zoom",
                "slideShow",
                "fullScreen",
                "thumbs",
                "close"
            ]
        });
    });
</script>


{% endblock %}

 