{% extends "base.html" %}

{% block content %}

{% include 'keyword_select_modal.html' %}

{% include 'change_text_modal.html' %}

<!-- <div class="container mt-2"  style="max-width: 80%;"> -->
<div class="container-fluid mt-2">


<h1 class="mb-4"> {{session['logbook_name']|upper}} Logbook Entries</h1>
    {% include 'search_table.html' %}

<table class="table table-striped table-responsive-md mt-1">

    {% include 'add_entry.html' %}

        <!-- End of Add Logbook Entry Form Row -->
    <thead class="table-dark">
        <tr>
            <th style="width:10%;">Timestamp</th>
            <th style="width:75%;">Entry</th>
            <th style="width:5%;">Keywords</th>
            <th style="width:10%;">File(s)</th>
            <th style="width:5%;">User</th>
        </tr>
    </thead>
        <!-- Existing log entries -->
        {% for entry in entries %}
        <tr>
            <!-- Populate existing log entries here -->
            <td>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td data-entry-id="{{ entry._id }}" data-entry-text="{{ entry.text|escape }}" onclick="openEditor(this)">
                {{ entry.text|safe }}
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for keyword in entry.keywords %}
                    <li><a href="javascript:void(0);" onclick="openKeywordModal('{{ entry._id }}')">{{ keyword }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if entry.images and entry.images|length >0 %}
                    {% for image_filename in entry.images %}
                        {% if image_filename is string and image_filename.endswith('.pdf') %}
                            <a href="{{ url_for('static', filename='upload/' + image_filename) }}" target="_blank">
                                <!-- Display PDF icon or thumbnail -->
                                <img src="{{ url_for('static', filename='icons/pdf_icon.png') }}" alt="PDF Document" class="img-thumbnail"
                                    width="50">
                            </a>
                        {% else %}
                            <a href="{{ url_for('static', filename='upload/' + image_filename) }}" data-fancybox="image-set">
                                <!-- Display image thumbnail -->
                                <img src="{{ url_for('static', filename='upload/' + image_filename) }}" alt="Uploaded Image" class="img-thumbnail"
                                    width="50">
                            </a>
                        {% endif %} 
                    {% endfor %}
                {% endif %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageAdditionModal"
                    data-entry-id="{{ entry._id }}">+</button>

            </td>
            <td>{{ entry.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' %}

{% include 'add_image_modal.html' %}


<!-- Include Fancybox Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<!-- Initialize Fancybox -->
<script>
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            buttons: [
                "download",
                "zoom",
                "slideShow",
                "fullScreen",
                "thumbs",
                "close"
            ]
        });
    });
</script>

{% endblock %}

 