{% extends "base.html" %}

{% block content %}

<style>
html {
    overflow-y: scroll;
}
</style>

<body>
    <div class="card mb-4">
        <div class="card-header">
            Last Measured Values: <strong>{{ latest_values.timestamp[0] }} </strong> 
        </div>
        <div class="card-body">
            <div class="row flex-nowrap"> <!-- Add flex-nowrap here -->
                {% for key, (value, unit) in latest_values.items() %}
                    {% if key != 'timestamp' %}
            
                        <div class="col d-flex justify-content-between"> <!-- Adjust column class here -->
                            <strong>{{ key }}:</strong>
                            <span>{{ value }} {{ unit }}</span>
                        </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


<div id="plot1" data-plotname="temperature" class="plot-container">{{ plot_temp1|safe }}</div>
<div id="plot2" class="plot-container">{{ plot_pressure1|safe }}</div>
<div id="plot3" class="plot-container">{{ plot_pump1|safe }}</div>
<div id="plot4" class="plot-container">{{ plot_hv1|safe }}</div>

</body>


<script>
    var plots = ['plot1', 'plot2', 'plot3', 'plot4'];
    var updating = false;  // flag to check if an update operation is in progress

    plots.forEach(function (plotId) {
        var plotContainer = document.getElementById(plotId);
        var plotDiv = plotContainer.querySelector('.plotly-graph-div');

        plotDiv.on('plotly_relayout', function (data) {
            if (updating) return;  // if an update is already in progress, skip

            if (data['xaxis.range[0]'] && data['xaxis.range[1]']) {
                var newRange = [data['xaxis.range[0]'], data['xaxis.range[1]']];
                updating = true;  // set flag indicating update is in progress
                plots.forEach(function (innerPlotId) {
                    if (innerPlotId !== plotId) {
                        var actualPlotDiv = document.querySelector("#" + innerPlotId + " .plotly-graph-div");
                        Plotly.relayout(actualPlotDiv, { 'xaxis.range': newRange });
                    }
                });
                updating = false;  // reset the flag once done
            }
        });

        plotDiv.on('plotly_doubleclick', function () {
            plots.forEach(function (innerPlotId) {
                var innerPlotDiv = document.querySelector("#" + innerPlotId + " .plotly-graph-div");
                Plotly.relayout(innerPlotDiv, {
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                });
            });
        });
    });

    var customButton = {
            name: 'downloadPlot',
            title: 'Download plot as image',
            icon: Plotly.Icons.camera,  // Use the camera icon from Plotly's set
            click: function (gd) {
                var fileName = '';  // You can generate your custom file name here
                switch (gd.id) {
                    case 'plot1':
                        fileName = 'temperature_' + new Date().toISOString() + '.png';
                        break;
                    case 'plot2':
                        fileName = 'pressure_' + new Date().toISOString() + '.png';
                        break;
                    // ... add other cases as needed
                }
                Plotly.downloadImage(gd, { filename: fileName });
            }
        };


    // Define the custom button outside of the function
    var customButton = {
        name: 'downloadPlot',
        title: 'Download plot as image',
        icon: Plotly.Icons.camera,
        click: function (gd) {
            var parentID = gd.parentElement.id;  // Use the parent element's ID
            var fileName = '';
            switch (parentID) {
                case 'plot1':
                    fileName = 'temperature_' + new Date().toISOString() + '.png';
                    break;
                case 'plot2':
                    fileName = 'pressure_' + new Date().toISOString() + '.png';
                    break;
                // ... add other cases as needed
            }
            Plotly.downloadImage(gd, { filename: fileName });
        }
    };

    function customizeDownloadButton() {
        var plots = ['plot1', 'plot2', 'plot3', 'plot4'];

        plots.forEach(function (plotId) {
            var plotDiv = document.querySelector("#" + plotId + " .plotly-graph-div");

            // Just to ensure each plotDiv is selected correctly
            console.log('Selected Plot: ', plotId, plotDiv);

            // Add custom button
            Plotly.relayout(plotDiv, {
                'modeBarButtonsToAdd': [customButton]
            });
        });
    }

    // Call this function once your plots are rendered.
    customizeDownloadButton();



</script>

</html>



{% endblock %}